@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.25;
}
p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button{
    background-color: #6415ff;
    color: #f7fafc;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    border-color: transparent;
    font-weight: 600;
    letter-spacing: 0.025rem;
    cursor: pointer;
}
.text__purple{
    color: #6415ff;
}
/* NAVIGATION BAR */
#landing{
    padding: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025rem;
}

.logo__wrapper{
    display: flex;
    align-items: center;
}

.nav__lists{
    display: flex;
    font-size: 0.875rem;
    align-items: baseline;
}

.logo{
    display: flex;
    width: 2.5rem;
    margin: 0 0.75rem 0 0;
}

.logo__text{
    font-size: 1.5rem;
    font-weight: bolder;
}

.nav__link{
    margin:0 1.5rem 0 1.5rem;
    color: #243e63;
}

/* TREACT INFO */
.treact__info{
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    padding: 6rem 0rem;
}
.treact__info--container{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.treact__info--title{
    font-size: 2.25rem;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.025em;
    text-align: left;
}
.treact__info--subtitle{
    color: #243e63;
    line-height: 1.6;
}
.search_wrap.search_wrap_6 .search_box .btn{
	width: 125px;
	height: 45px;
	top: 8px;
	right: 5px;
	border-radius: 3px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 25px;
}
.search_wrap{
	width: 100%;
}

.search_wrap .search_box{
	position: relative;
	width: 27rem;
	height: 3.75rem;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
    border-radius: 50px;
    padding-right: 125px;
    color: rgb(226, 232, 240);
    opacity: 0.5;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0.2;
	width: 60px;
	height: 100%;
	background: #6415ff;
    opacity: 1;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn:hover{
	background: #708bd2;	
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20px;
}
.treact__info--cust{
    color: #a0aec0;
    margin: 5rem 0 0 0;
}
.treact__info--img-wrapper{
    display: flex;
    width: 60%;
    justify-content: flex-end;
}

.treact__info--img{
    display: flex;
    max-width: 32rem;
}

.treact__info--cust--img{
    margin-top: 1rem;
    width: 100%;
    opacity: 0.5;
    padding-right: 4rem;
}



